body { background: #444444; overflow: hidden; width: 100%; height: 100%; }

.codeDiv {
  margin: 25px 0 0 0;
}
.codeDiv > div {
  margin: 18px 0 18px 0;
}

.CodeMirror {
  height: auto!important;
  color: #8C6B1D;
}
div.CodeMirror-scroll { height: auto!important; overflow: visible; }

#mapLayer {position: absolute; top: 0; left: 0; visibility: hidden; }
#gameCanvas {position: absolute; top: 0; left: 0; visibility: hidden; }
#drawCanvas {position: absolute; top: 0; left: 0;}

#code { width: 100%; }

.readOnlyLine {background: #333333 !important;}

#flashLayer {position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%;
	z-index: 13;
}

.achievement {
  width: 25%;
  height: 150px;
  float: left;
  margin: 10px;
  background-color: #B59E80;
  border-radius: 10px;
}

#achievements  img {
  width: 100%;
  max-height: 100%;
}

.achievementIncomplete {
  background: #A69F96;
}

#lostPages
{
  height: 80%;
}

.lostPage {
  position: relative;
  width: 25%;
  height: 150px;
  float: left;
  margin: 10px;
  background-color: #B59E80;
  border-radius: 10px;
  cursor: pointer;
}

.lostPageName {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid #7A5D18;
}

.lostPageNameNotFound {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid #A69F96;
}

.lostPageName:hover {
  background: #D3C4AE;
  border-radius: 10px 10px 0 0;
  border: 1px solid #B59E80;
}

.lostPageQuest {
  width: 100%;
  height: 80px;
  padding-top: 10px;
}

.lostPageQuest:hover {
  background: #D3C4AE;
  border-radius: 0 0 10px 10px;
  border: 1px solid #B59E80;
}

.lostPageNotFound {
  background: #A69F96;
}

.lostPageNotFound div {
  border-bottom: 0px;
}

.lostPageQuestStatus {
  position: absolute;
  font-size: 40;
  font-weight: bold;
  right: 0;
  position: absolute;
  top: -20;
}

.lostPageComplete {
  color: green !important;
}

.lostPageIncomplete {
  color: maroon !important;
}

.bubble {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 20px 18px;
  top: 20%;
  font-family: sans-serif;
  font-size: 14;
  z-index: 20;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hoverTip {
  position: absolute;
  margin: 0 auto;
  background-color: #B59E80;
  padding: 10px 18px;
  font-family: sans-serif;
  font-size: 14;
  z-index: 15;
  max-width: 50%;
}

#spellBookContainer {
  position: relative;
  width: 50%;
  max-height: 90%;
  background: url(old_paper.png);
  background-size: 100% 100%;
  margin: 0 auto; 
  z-index: 14; 
  padding: 40px 30px 0 30px;
  display: none;
  overflow-y: auto;
}

#spellBook {
  color: #7A5D18;
  font-family: sans-serif;
  overflow: hidden;
}

#spellBook div {
  color: #7A5D18;
  font-family: sans-serif;
}

#spellBook > div {
  position: relative;
  width: 90%;
  font-size: 15;
}

#closeSpellBook {
  position: absolute;
  right: 0;
  top: 5%;
  margin-right: 5%;
  display: inline-block;
  color: #8C6B1D;
  font-size: 35;
}

#closeSpellBook:hover {
  font-size: 40;
  cursor: pointer;
  text-shadow: 1px 1px 8px #8C6B1D;
}

.pageArrow {
  position: relative;
  display: inline-block;
  color: #8C6B1D;
  font-size: 45;
  cursor: pointer;
  margin-top: 20px;
}

.nextPage {
  left: 100%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.previousPage {
  margin-left: 5%;
  margin-bottom: 10px;
}

#gameArea { position: absolute; width: 100%; height: 100%; }

#mainMenu {position: absolute; top: 0; left: 0; z-index: 20;
	width: 100%; height: 100%; background: #222222; }
#mainMenuLogo { width: 700px;}
#levelChooser { color: white; display: block; list-style: none; display: none; }
#levelChooser a { color: white; }
#hiddenLevels a { color: #222222 }

#topBar img {
  width: 30px;
  height: 30px;
}